Repository acterglobal/a3, pull requests merged in 2023-02, with the labels that each got.

#476 Bugfix android console logger
  Cargo.lock
  native/core/Cargo.toml
  native/effektio/Cargo.toml
Labels: bug, rust

#482 refactor: use thumbnail for avatars
  app/lib/controllers/chat_list_controller.dart
  app/lib/controllers/chat_room_controller.dart
  app/lib/main.dart
  app/lib/models/JoinedRoom.dart
  app/lib/screens/HomeScreens/chat/ChatScreen.dart
  app/lib/screens/HomeScreens/chat/Overview.dart
  app/lib/widgets/ChatListItem.dart
  app/lib/widgets/CustomAvatar.dart
  app/lib/widgets/InviteInfoWidget.dart
Labels: flutter, s-chat

#485 Change android min version due to file_picker
  docs/content/docs/getting-started/troubleshooting.md
Labels: t-android

#483 render non-user events
  app/lib/common/store/themes/ChatTheme.dart
  app/lib/common/store/themes/SeperatedThemes.dart
  app/lib/controllers/chat_room_controller.dart
  app/lib/screens/HomeScreens/chat/ChatScreen.dart
  app/lib/widgets/ChatBubbleBuilder.dart
  app/lib/widgets/ChatListItem.dart
  app/lib/widgets/CustomAvatar.dart
  app/lib/widgets/EmojiRow.dart
  app/lib/widgets/EmptyHistoryPlaceholder.dart
  app/lib/widgets/TextMessageBuilder.dart
  app/lib/widgets/TypeIndicator.dart
  app/pubspec.lock
Labels: flutter, s-chat
