Repository acterglobal/a3, pull requests merged in 2023-07, with the labels that each got.

#701 Attachments backend
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/attachments.rs
  native/acter/src/api/client.rs
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/spaces.rs
  native/core/src/events.rs
  native/core/src/events/attachments.rs
  native/core/src/models.rs
  native/core/src/models/attachments.rs
  native/core/src/models/pins.rs
  native/core/src/models/tasks/task.rs
  native/test/src/tests/pins.rs
Labels: rust, s-pins

#706 Fix synapse integration tests GH action
  .github/workflows/integration_testing.yml
Labels: infrastructure

#708 Joining spaces
  app/lib/common/models/profile_data.dart
  app/lib/common/providers/notifiers/space_profile_notifier.dart
  app/lib/common/providers/space_providers.dart
  app/lib/common/utils/constants.dart
  app/lib/common/utils/routes.dart
  app/lib/common/utils/utils.dart
  app/lib/features/chat/controllers/chat_room_controller.dart
  app/lib/features/pins/dialogs/create_pin_sheet.dart
  app/lib/features/spaces/dialogs/create_space_sheet.dart
  app/lib/features/spaces/dialogs/space_selector_sheet.dart
  app/lib/features/spaces/pages/join_space.dart
  app/lib/features/spaces/pages/spaces_page.dart
  app/lib/features/spaces/widgets/public_spaces_selector.dart
  app/lib/router/router.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  app/pubspec.lock
  app/pubspec.yaml
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/client.rs
  native/acter/src/api/conversation.rs
  native/acter/src/api/search.rs
  native/acter/src/api/spaces.rs
Labels: s-search

#712 Restore verification that was deactivated when switching from GetX to Riverpod
  app/lib/features/cross_signing/cross_signing.dart
  app/lib/features/home/providers/client_providers.dart
  app/lib/features/home/providers/notifiers/sync_notifier.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/client.rs
  native/acter/src/api/verification.rs
Labels: flutter, rust

#723 Refactor cargo toml
  Cargo.lock
  native/acter/Cargo.toml
Labels: rust

#724 Fix android nightly
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
Labels: build-demo

#729 Fix typo
  native/core/src/models.rs
Labels: rust

#735 Remove unnecessary helper functions from calendar event and tasklist
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/tasks.rs
  native/cli/src/action/mock.rs
  native/core/src/events/tasks.rs
  native/test/src/tests/tasks.rs
  native/tui/src/ui.rs
Labels: rust

#751 Fixing various smaller things
  app/lib/features/home/pages/dashboard.dart
  app/lib/features/home/pages/home_shell.dart
  app/lib/features/search/widgets/quick_jump.dart
  app/macos/Runner/DebugProfile.entitlements
  app/macos/Runner/Release.entitlements
Labels: bug

#762 Space members and power-level updates
  app/lib/common/utils/routes.dart
  app/lib/features/home/pages/dashboard.dart
  app/lib/features/space/pages/members_page.dart
  app/lib/features/space/providers/space_navbar_provider.dart
  app/lib/features/space/widgets/member_list_entry.dart
  app/lib/router/router.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
Labels: infrastructure

#763 Various onboarding and user profile fixes
  app/lib/common/dialogs/onboarding_dialog.dart
  app/lib/features/home/pages/dashboard.dart
  app/lib/features/home/widgets/my_spaces_section.dart
  app/lib/features/home/widgets/sidebar_widget.dart
  app/lib/features/profile/pages/my_profile_page.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/account.rs
Labels: flutter

#774 Improve verification
  app/lib/features/cross_signing/cross_signing.dart
  native/acter/src/api/verification.rs
Labels: rust
