Repository acterglobal/a3, pull requests merged in 2023-06, with the labels that each got.

#637 Change dart symbol limit
  Cargo.lock
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/Cargo.toml
  native/acter/src/api.rs
  native/acter/src/api/auth.rs
  native/acter/src/platform/native.rs
  native/acter/src/testing.rs
Labels: rust, build-demo

#638 Remove debug banner from start page
  app/lib/features/onboarding/pages/login_page.dart
  app/lib/features/onboarding/pages/register_page.dart
  app/lib/features/onboarding/pages/start_page.dart
  app/lib/main.dart
Labels: flutter

#639 Refactor code in crate import
  native/acter/src/api.rs
  native/acter/src/api/auth.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/comments.rs
  native/acter/src/api/message.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/tasks.rs
  native/acter/src/platform/native.rs
  native/acter/src/testing.rs
  native/cli/src/action/history.rs
  native/cli/src/action/mock.rs
  native/core/src/executor.rs
  native/core/src/models/calendar/event.rs
  native/core/src/models/test.rs
  native/core/src/templates/functions.rs
  native/core/src/templates/values.rs
  native/core/src/util.rs
  native/test/src/tests/tasks.rs
  native/test/src/utils.rs
  native/tui/src/config.rs
Labels: rust

#631 Update matrix-sdk & reaplce sled with sqlite
  .github/workflows/demo.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  app/packages/rust_sdk/lib/acter_flutter_sdk.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  docs/content/docs/getting-started/troubleshooting.md
  native/acter/Cargo.toml
  native/acter/api.rsh
  native/acter/src/api/auth.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/comments.rs
  native/acter/src/api/conversation.rs
  native/acter/src/api/device.rs
  native/acter/src/api/invitation.rs
  native/acter/src/api/message.rs
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/receipt.rs
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/stream.rs
  native/acter/src/api/tasks.rs
  native/acter/src/api/typing.rs
  native/acter/src/api/verification.rs
  native/acter/src/platform/native.rs
  native/cli/Cargo.toml
  native/cli/src/action/manage.rs
  native/cli/src/action/mock.rs
  native/core/Cargo.toml
  native/test/Cargo.toml
  native/test/src/tests/tasks.rs
  native/tui/Cargo.toml
Labels: rust

#640 Refactor code
  .github/workflows/demo.yml
  .github/workflows/deploy.yml
  native/acter/src/api/account.rs
  native/acter/src/api/auth.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/comments.rs
  native/acter/src/api/common.rs
  native/acter/src/api/conversation.rs
  native/acter/src/api/device.rs
  native/acter/src/api/invitation.rs
  native/acter/src/api/message.rs
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/receipt.rs
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/tasks.rs
  native/acter/src/api/typing.rs
  native/acter/src/api/verification.rs
  native/acter/src/testing.rs
  native/cli/src/action/mock.rs
  native/core/src/client.rs
  native/core/src/events.rs
  native/core/src/events/calendar.rs
  native/core/src/events/comments.rs
  native/core/src/events/common.rs
  native/core/src/events/common/rendering.rs
  native/core/src/events/pins.rs
  native/core/src/events/reactions.rs
  native/core/src/events/tasks.rs
  native/core/src/spaces.rs
  native/core/src/store.rs
Labels: rust

#642 String deallocation fix
  Cargo.lock
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/src/api/message.rs
  native/acter/src/api/tasks.rs
Labels: rust

#654 Update NDK to r25, cargo-ndk to 3.2, unbreak Android
  .github/workflows/demo.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly.yml
  Makefile.toml
  app/android/app/build.gradle
  app/packages/rust_sdk/android/build.gradle
  docs/content/docs/getting-started/setup.md
  docs/content/docs/getting-started/troubleshooting.md
Labels: build-demo

#655 unbreaking demo-build
  .github/workflows/demo.yml
  .github/workflows/nightly.yml
Labels: build-demo

#660 Display member avatar correctly
  app/lib/features/chat/providers/chat_providers.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/client.rs
  native/acter/src/api/invitation.rs
  native/acter/src/api/profile.rs
  native/acter/src/api/room.rs
Labels: bug, rust

#658 Issue524 room permission
  native/acter/src/api/client.rs
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/tasks.rs
Labels: rust

#663 Replace log with tracing
  Cargo.lock
  native/acter/src/api/auth.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/conversation.rs
  native/acter/src/api/device.rs
  native/acter/src/api/invitation.rs
  native/acter/src/api/message.rs
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/profile.rs
  native/acter/src/api/receipt.rs
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/stream.rs
  native/acter/src/api/tasks.rs
  native/acter/src/api/typing.rs
  native/acter/src/api/verification.rs
  native/acter/src/platform/native.rs
  native/acter/src/testing.rs
  native/cli/src/action/execute.rs
  native/cli/src/action/history.rs
  native/cli/src/action/list.rs
  native/cli/src/action/manage.rs
  native/cli/src/action/mock.rs
  native/cli/src/config.rs
  native/core/Cargo.toml
  native/core/src/events/calendar.rs
  native/core/src/events/pins.rs
  native/core/src/events/tasks.rs
  native/core/src/executor.rs
  native/core/src/models.rs
  native/core/src/models/comments.rs
  native/core/src/models/tasks/task_list.rs
  native/core/src/spaces.rs
  native/core/src/store.rs
  native/core/src/templates.rs
  native/test/Cargo.toml
  native/test/src/tests/auth.rs
  native/test/src/tests/formatted_body.rs
  native/test/src/tests/verification.rs
  native/test/src/utils.rs
  native/tui/Cargo.toml
  native/tui/src/config.rs
  native/tui/src/main.rs
  native/tui/src/ui.rs
Labels: rust

#661 Fix issue in context()
  app/lib/common/providers/common_providers.dart
  app/lib/features/chat/controllers/chat_room_controller.dart
  app/lib/features/chat/models/invitation_profile.dart
  app/lib/features/chat/pages/edit_group_page.dart
  app/lib/features/chat/pages/profile_page.dart
  app/lib/features/chat/pages/requests_page.dart
  app/lib/features/chat/providers/chat_providers.dart
  app/lib/features/chat/widgets/group_member_view.dart
  app/lib/features/chat/widgets/pending_req_list_view.dart
  app/lib/features/space/providers/space_providers.dart
  app/lib/features/todo/controllers/todo_controller.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/account.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/comments.rs
  native/acter/src/api/common.rs
  native/acter/src/api/conversation.rs
  native/acter/src/api/device.rs
  native/acter/src/api/invitation.rs
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/profile.rs
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/stream.rs
  native/acter/src/api/tasks.rs
  native/acter/src/api/verification.rs
  native/cli/src/action/manage.rs
  native/cli/src/config.rs
  native/core/src/templates.rs
  native/tui/src/main.rs
Labels: bug, rust

#681 Minor fixes
  .github/workflows/demo.yml
  app/lib/features/bug_report/pages/bug_report_page.dart
  app/lib/features/bug_report/providers/notifiers/bug_report_notifier.dart
  app/lib/features/home/pages/dashboard.dart
  app/lib/features/search/widgets/quick_jump.dart
  app/lib/features/settings/pages/info_page.dart
  app/lib/features/settings/providers/notifiers/labs_features.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk.dart
Labels: build-demo

#687 Fix space tab navigation
  app/lib/features/space/pages/overview_page.dart
  app/lib/features/space/pages/related_spaces_page.dart
  app/lib/features/space/pages/shell_page.dart
  app/lib/features/space/providers/space_navbar_provider.dart
  app/lib/features/space/widgets/top_nav.dart
  app/lib/router/providers/notifiers/router_notifier.dart
  app/lib/router/router.dart
Labels: flutter
