Repository acterglobal/a3, pull requests merged in 2023-12, with the labels that each got.

#1192 Simplify logging, make MacOS log to terminal output
  native/acter/Cargo.toml
  native/acter/src/platform/android.rs
  native/acter/src/platform/ios.rs
  native/acter/src/platform/mod.rs
Labels: rust, infrastructure

#1187 Subspace view permissions fix
  .github/scripts/flutter-integration-tests.sh
  app/integration_test/main_test.dart
  app/integration_test/support/spaces.dart
  app/integration_test/support/super_invites.dart
  app/integration_test/tests/sub_spaces.dart
  app/integration_test/tests/super_invites.dart
  app/lib/common/widgets/side_sheet.dart
  app/lib/features/space/pages/related_spaces_page.dart
  app/lib/features/space/sheets/link_room_sheet.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
Labels: bug, ci-test-ui-all

#1175 Improve the timelined messaging
  app/lib/common/notifications/models.dart
  app/lib/common/notifications/notifications.dart
  app/lib/common/providers/chat_providers.dart
  app/lib/common/widgets/chat/convo_card.dart
  app/lib/features/activities/util.dart
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/widgets/custom_input.dart
  app/lib/features/news/pages/simple_post.dart
  app/lib/features/news/widgets/news_item.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  app/pubspec.lock
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/attachments.rs
  native/acter/src/api/auth.rs
  native/acter/src/api/client.rs
  native/acter/src/api/common.rs
  native/acter/src/api/message.rs
  native/acter/src/api/news.rs
  native/acter/src/api/room.rs
  native/acter/src/api/stream.rs
  native/acter/src/api/tasks.rs
  native/core/src/events/news.rs
  native/test/src/tests/formatted_body.rs
  native/test/src/tests/msg_edit.rs
  native/test/src/tests/news.rs
  native/test/src/tests/pins.rs
  native/test/src/tests/reaction.rs
  native/test/src/tests/receipt.rs
  native/test/src/tests/redact.rs
  native/test/src/tests/reply.rs
  native/test/src/tests/tasks.rs
  util/conv_test_man/pubspec.lock
Labels: ci-test-emulators
