Repository acterglobal/a3, pull requests merged in 2023-05, with the labels that each got.

#589 Implement source field for ImageDesc & VideoDesc
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/common.rs
  native/acter/src/api/message.rs
  native/acter/src/api/news.rs
Labels: rust

#590 Implement audio msg
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/common.rs
  native/acter/src/api/message.rs
  native/acter/src/api/news.rs
  native/core/src/events.rs
  native/core/src/events/news.rs
Labels: rust

#591 Switching to multiavatar for user icon fallback
  app/lib/common/widgets/custom_avatar.dart
  app/lib/features/home/widgets/user_avatar.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: flutter

#598 Pin version of flutter version in github runner to 3.7
  .github/workflows/demo.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/integration_testing.yml
  .github/workflows/native.yml
  .github/workflows/nightly.yml
  .github/workflows/styles.yml
  app/lib/common/widgets/no_internet.dart
  app/lib/features/chat/pages/group_link_page.dart
  app/lib/features/chat/pages/profile_page.dart
  app/lib/features/chat/widgets/custom_input.dart
  app/lib/features/chat/widgets/req_list_view.dart
  app/lib/features/news/widgets/news_side_bar.dart
  app/lib/features/todo/pages/assignments_page.dart
  app/lib/features/todo/pages/bookmarks_page.dart
  app/lib/features/todo/pages/recent_activity_page.dart
  app/lib/features/todo/pages/task_assign_page.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: bug, gh-actions-runner

#600 Replace u64 with u32 in api.rsh for wasm support
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/common.rs
  native/acter/src/api/message.rs
  native/acter/src/api/profile.rs
Labels: rust

#601 Implement the missed functions about image/audio/video/file
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/room.rs
Labels: rust

#605 Rename some variables
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/stream.rs
  native/acter/src/api/tasks.rs
Labels: rust

#616 Nightly build crashing on window resize event in macos
  app/macos/Runner/MainFlutterWindow.swift
Labels: flutter, t-desktop

#617 hide dashboard tap bar in desktop version
  app/lib/features/home/pages/dashboard.dart
Labels: bug, flutter

#607 Remove fetch() from UserProfile and RoomProfile
  Cargo.lock
  app/lib/common/models/profile_data.dart
  app/lib/common/providers/chat_providers.dart
  app/lib/common/providers/profile_provider.dart
  app/lib/common/providers/space_providers.dart
  app/lib/common/widgets/user_avatar.dart
  app/lib/features/chat/controllers/chat_list_controller.dart
  app/lib/features/chat/controllers/chat_room_controller.dart
  app/lib/features/chat/pages/edit_group_page.dart
  app/lib/features/chat/pages/link_settings_page.dart
  app/lib/features/chat/pages/requests_page.dart
  app/lib/features/chat/widgets/invite_info_card.dart
  app/lib/features/home/providers/navigation.dart
  app/lib/features/home/widgets/my_spaces_section.dart
  app/lib/features/home/widgets/my_tasks.dart
  app/lib/features/onboarding/pages/login_page.dart
  app/lib/features/onboarding/pages/sign_up_page.dart
  app/lib/features/profile/pages/my_profile_page.dart
  app/lib/features/space/pages/shell_page.dart
  app/lib/features/space/widgets/chats_card.dart
  app/lib/features/space/widgets/member_avatar.dart
  app/lib/features/space/widgets/spaces_card.dart
  app/lib/features/tasks/models/tasks.dart
  app/lib/features/todo/controllers/todo_controller.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/client.rs
  native/acter/src/api/invitation.rs
  native/acter/src/api/profile.rs
  native/acter/src/api/room.rs
Labels: flutter, rust

#622 Replace signup with register
  app/lib/features/home/data/repositories/sdk_repository.dart
  app/lib/features/home/widgets/sidebar_widget.dart
  app/lib/features/onboarding/pages/login_page.dart
  app/lib/features/onboarding/pages/register_page.dart
  app/lib/features/onboarding/presentation/states/auth_state.dart
  app/lib/features/onboarding/providers/notifiers/auth_notifier.dart
  app/lib/features/onboarding/widgets/onboarding_fields.dart
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/router/router.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk.dart
  app/test/features/onboarding/pages/login_page_test.dart
Labels: flutter

#623 Pin rust nightly toolchain for mac arm64
  rust-toolchain
Labels: bug, rust
