Repository acterglobal/a3, pull requests merged in 2024-07, with the labels that each got.

#1916 Remove old certs, add newly freshed up certs for nightly
  .github/assets/provision_profiles/0ed703f9-9f6a-4fc5-a624-d6edeecae268.mobileprovision
  .github/assets/provision_profiles/213c2396-4844-4d89-a4ac-00becac121ec.mobileprovision
  .github/assets/provision_profiles/2b803816-9c1b-43a0-80fe-3c80f2aab3a7.mobileprovision
  .github/assets/provision_profiles/2c3f49c4-f486-4391-9f4f-440f32ec0c68.provisionprofile
  .github/assets/provision_profiles/4a5df3d2-a175-4320-a26d-a7c510e70695.mobileprovision
  .github/assets/provision_profiles/A3NightlyInternal.mobileprovision
  .github/assets/provision_profiles/A3pushNightly.mobileprovision
  .github/assets/provision_profiles/bbf53594-51de-4669-8554-4d945684fe63.mobileprovision
Labels: build, t-ios, infrastructure

#1918 Minor chat fixes
  .changes/1918-chat-fixes.md
  app/lib/common/providers/notifiers/room_notifiers.dart
  app/lib/common/toolkit/buttons/room_chip.dart
  app/lib/common/toolkit/buttons/user_chip.dart
  app/lib/common/widgets/user_chip.dart
  app/lib/features/chat/providers/chat_providers.dart
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/utils.dart
  app/lib/features/chat/widgets/custom_input.dart
  app/lib/features/chat/widgets/text_message_builder.dart
  app/lib/features/invite_members/pages/invite_space_members.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: bug, s-chat

#1896 Refactor 3pid part including password reset
  .changes/1859-refactor-3pid.md
  app/lib/common/providers/common_providers.dart
  app/lib/features/chat/pages/room_profile_page.dart
  app/lib/features/events/pages/event_details_page.dart
  app/lib/features/onboarding/pages/forgot_password.dart
  app/lib/features/onboarding/pages/link_email_page.dart
  app/lib/features/settings/pages/email_addresses.dart
  app/lib/features/settings/widgets/email_address_card.dart
  app/lib/features/settings/widgets/settings_menu.dart
  app/lib/features/space/widgets/about_card.dart
  app/lib/features/tasks/pages/task_item_detail_page.dart
  app/lib/features/tasks/pages/task_list_details_page.dart
  app/lib/features/tasks/sheets/create_update_task_list.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/account.rs
  native/acter/src/api/account/three_pid.rs
  native/acter/src/api/auth.rs
  native/test/src/tests/auth.rs
Labels: rust

#1933 Add debugLabel to all GlobalKey's to allow us to debug double usage
  app/lib/common/tutorial_dialogs/bottom_navigation_tutorials/bottom_navigation_tutorials.dart
  app/lib/common/tutorial_dialogs/space_overview_tutorials/create_or_join_space_tutorials.dart
  app/lib/features/backups/dialogs/provide_recovery_key_dialog.dart
  app/lib/features/bug_report/pages/bug_report_page.dart
  app/lib/features/chat/widgets/custom_input.dart
  app/lib/features/events/pages/create_edit_event_page.dart
  app/lib/features/home/pages/home_shell.dart
  app/lib/features/member/dialogs/show_change_power_level_dialog.dart
  app/lib/features/onboarding/pages/forgot_password.dart
  app/lib/features/onboarding/pages/link_email_page.dart
  app/lib/features/onboarding/pages/login_page.dart
  app/lib/features/onboarding/pages/register_page.dart
  app/lib/features/pins/pages/create_pin_page.dart
  app/lib/features/pins/widgets/pin_item.dart
  app/lib/features/profile/pages/my_profile_page.dart
  app/lib/features/settings/pages/blocked_users.dart
  app/lib/features/settings/pages/change_password.dart
  app/lib/features/settings/pages/email_addresses.dart
  app/lib/features/settings/widgets/email_address_card.dart
  app/lib/features/space/settings/pages/apps_settings_page.dart
  app/lib/features/super_invites/pages/create.dart
  app/lib/features/super_invites/widgets/redeem_token.dart
  app/lib/features/tasks/sheets/create_update_task_item.dart
  app/lib/features/tasks/sheets/create_update_task_list.dart
  app/lib/features/tasks/widgets/task_items_list_widget.dart
Labels: bug, flutter, tech-debt, minor

#1932 fix chat list ordering
  .changes/fix-chat-list-order.md
  app/lib/common/providers/chat_providers.dart
Labels: flutter, s-chat

#1857 Refactor flutter integration tests, fix windows build
  .github/scripts/flutter-integration-tests.sh
  .github/workflows/artifacts.yml
  .github/workflows/build-app.yml
  .github/workflows/demo.yml
  .github/workflows/deploy.yml
  .github/workflows/flutter_integration_testing.yml
  .github/workflows/integration_testing.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  app/integration_test/main_test.dart
  app/integration_test/support/login.dart
  app/integration_test/support/spaces.dart
  app/integration_test/support/super_invites.dart
  app/integration_test/tests/auth.dart
  app/integration_test/tests/smoke.dart
  app/integration_test/tests/sub_spaces.dart
  app/integration_test/tests/updates.dart
  app/lib/common/widgets/visibility/room_visibility_item.dart
  app/lib/features/invite_members/pages/invite_page.dart
  app/lib/features/onboarding/pages/intro_page.dart
  app/lib/features/onboarding/pages/intro_profile.dart
  app/lib/features/profile/pages/my_profile_page.dart
  app/lib/features/search/widgets/quick_actions_builder.dart
  app/lib/features/spaces/pages/create_space_page.dart
  app/lib/features/super_invites/pages/create.dart
  app/lib/router/router.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: build-demo, ci-test-ui-all

#1945 Implement user bookmarks
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/account.rs
  native/acter/src/api/bookmarks.rs
  native/core/src/events.rs
  native/core/src/events/bookmarks.rs
  native/test/src/tests.rs
  native/test/src/tests/bookmarks.rs
Labels: rust, infrastructure

#1944 Space categories backoffice
  app/lib/features/chat/widgets/custom_input.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/categories.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/spaces/categories.rs
  native/core/src/events.rs
  native/core/src/events/common.rs
  native/core/src/events/common/categories.rs
  native/core/src/events/common/rendering.rs
  native/test/src/tests.rs
  native/test/src/tests/categories.rs
Labels: rust, infrastructure

#1949 Keep avatar binary in flutters resident memory
  .changes/1949-avatar-binary.md
  app/lib/common/providers/common_providers.dart
  app/lib/common/providers/room_providers.dart
  app/lib/common/widgets/user_builder.dart
  app/lib/features/activities/providers/invitations_providers.dart
  app/lib/features/invite_members/providers/invite_providers.dart
  app/lib/features/public_room_search/providers/public_space_info_provider.dart
Labels: bug

#1955 Additional `isNightly` flag
  .github/workflows/build-app.yml
  .github/workflows/demo.yml
  .github/workflows/integration_testing.yml
  .github/workflows/native.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/styles.yml
  app/lib/common/utils/constants.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: build, minor

#1954 Allow user to select which invite code to use
  .changes/1954-selecting-superinvites.md
  app/lib/features/invite_members/widgets/invite_code_ui.dart
  app/lib/features/super_invites/providers/super_invites_providers.dart
  app/lib/l10n/app_en.arb
Labels: c-super-invites

#1956 Onboarding refactor with crash analytics & simplified screens
  .changes/1946-onboarding-refactor.md
  .github/workflows/build-app.yml
  .github/workflows/demo.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  app/integration_test/support/login.dart
  app/integration_test/tests/auth.dart
  app/lib/common/dialogs/logout_confirmation.dart
  app/lib/common/dialogs/nuke_confirmation.dart
  app/lib/common/utils/constants.dart
  app/lib/common/utils/main.dart
  app/lib/common/utils/routes.dart
  app/lib/features/auth/pages/forgot_password.dart
  app/lib/features/auth/pages/login_page.dart
  app/lib/features/auth/pages/register_page.dart
  app/lib/features/auth/providers/auth_providers.dart
  app/lib/features/auth/providers/notifiers/auth_notifier.dart
  app/lib/features/auth/widgets/logo_widget.dart
  app/lib/features/intro/pages/intro_page.dart
  app/lib/features/intro/pages/intro_profile.dart
  app/lib/features/onboarding/pages/analytics_opt_in_page.dart
  app/lib/features/onboarding/pages/start_page.dart
  app/lib/features/onboarding/pages/upload_avatar_page.dart
  app/lib/features/settings/pages/info_page.dart
  app/lib/features/settings/providers/settings_providers.dart
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_pl.arb
  app/lib/main.dart
  app/lib/router/general_router.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/features/auth/pages/login_page_test.dart
Labels: infrastructure

#1950 Fix bug in force logout
  .changes/1950-force-logout.md
  app/lib/features/settings/widgets/session_card.dart
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/verification.rs
Labels: rust

#1952 Fix 32bits support
  Cargo.lock
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/Cargo.toml
  native/acter/build.rs
  native/acter/cbindgen.toml
Labels: bug, infrastructure, build-demo

#1957 Fix the order of widgets in Home
  app/lib/features/home/pages/dashboard.dart
Labels: flutter, minor

#1960 Switch to a secret store that works for linux.
  app/pubspec.lock
  app/pubspec.yaml
Labels: minor, t-linux

#1962 Clean translations from old cruft
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_pl.arb
  app/pubspec.lock
  app/pubspec.yaml
Labels: build, build-demo, minor, translations

#1961 Suggested Rooms support
  .changes/1947-suggested-rooms.md
  Cargo.lock
  Cargo.toml
  app/lib/common/providers/room_providers.dart
  app/lib/common/providers/space_providers.dart
  app/lib/common/widgets/chat/convo_card.dart
  app/lib/common/widgets/chat/convo_hierarchy_card.dart
  app/lib/common/widgets/chat/convo_with_avatar_card.dart
  app/lib/common/widgets/default_dialog.dart
  app/lib/common/widgets/room/room_hierarchy_join_button.dart
  app/lib/common/widgets/room/room_hierarchy_options_menu.dart
  app/lib/common/widgets/spaces/space_card.dart
  app/lib/common/widgets/spaces/space_hierarchy_card.dart
  app/lib/common/widgets/spaces/space_with_profile_card.dart
  app/lib/features/chat/actions/create_chat.dart
  app/lib/features/chat/utils.dart
  app/lib/features/public_room_search/pages/search_public_directory.dart
  app/lib/features/public_room_search/widgets/maybe_direct_room_action_widget.dart
  app/lib/features/room/actions/join_room.dart
  app/lib/features/space/actions/has_seen_suggested.dart
  app/lib/features/space/actions/set_child_room_suggested.dart
  app/lib/features/space/actions/unlink_child_room.dart
  app/lib/features/space/dialogs/leave_space.dart
  app/lib/features/space/dialogs/suggested_rooms.dart
  app/lib/features/space/pages/chats_page.dart
  app/lib/features/space/pages/space_details_page.dart
  app/lib/features/space/providers/suggested_provider.dart
  app/lib/features/space/sheets/link_room_sheet.dart
  app/lib/features/space/widgets/related_spaces/helpers.dart
  app/lib/features/space/widgets/space_sections/chats_section.dart
  app/lib/features/spaces/actions/create_space.dart
  app/lib/l10n/app_en.arb
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/common.rs
  native/acter/src/api/room.rs
  native/acter/src/api/room/account_data.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/stream.rs
  native/core/src/events.rs
  native/core/src/events/room.rs
  native/core/src/spaces.rs
Labels: bug, s-space

#1971 Add share button on super invites
  .changes/1963-share-from-superinvites.md
  app/lib/features/super_invites/pages/super_invites.dart
Labels: flutter, minor, c-super-invites

#1970 Refresh chats & subspaces per action, remove requireValue
  .changes/1970-refreshing-subs.md
  app/lib/features/auth/pages/forgot_password.dart
  app/lib/features/pins/widgets/pin_list_item.dart
  app/lib/features/space/pages/chats_page.dart
  app/lib/features/space/pages/events_page.dart
  app/lib/features/space/pages/members_page.dart
  app/lib/features/space/pages/sub_spaces_page.dart
  app/lib/features/space/sheets/edit_space_sheet.dart
Labels: bug, flutter

#1976 Fixing Subchat listing
  app/lib/common/providers/chat_providers.dart
  app/lib/common/providers/notifiers/relations_notifier.dart
  app/lib/common/providers/room_providers.dart
  app/lib/common/providers/space_providers.dart
  app/lib/common/widgets/chat/convo_with_avatar_card.dart
  app/lib/common/widgets/chat/loading_convo_card.dart
  app/lib/common/widgets/spaces/space_card.dart
  app/lib/common/widgets/spaces/space_hierarchy_card.dart
  app/lib/features/home/widgets/my_spaces_section.dart
  app/lib/features/public_room_search/widgets/maybe_direct_room_action_widget.dart
  app/lib/features/space/pages/chats_page.dart
  app/lib/features/space/pages/sub_spaces_page.dart
  app/lib/features/space/sheets/link_room_sheet.dart
  app/lib/features/space/widgets/related_spaces/helpers.dart
  app/lib/features/space/widgets/space_sections/chats_section.dart
  app/lib/features/space/widgets/space_sections/spaces_section.dart
  app/lib/features/spaces/pages/spaces_page.dart
  app/lib/features/super_invites/widgets/to_join_room.dart
  native/acter/src/api/room.rs
Labels: flutter

#1994 only render thumbnail if we have a thumbnail file
  app/lib/features/chat/widgets/video_message_builder.dart
Labels: bug, flutter, s-chat, minor

#1998 Fix spaces chats screen.
  .changes/1998-subspace.md
  app/lib/features/space/pages/chats_page.dart
  app/lib/features/space/pages/sub_spaces_page.dart
  app/lib/features/space/widgets/related/chats_helpers.dart
  app/lib/features/space/widgets/related/spaces_helpers.dart
  app/lib/features/space/widgets/space_sections/chats_section.dart
  app/lib/features/space/widgets/space_sections/spaces_section.dart
Labels: bug, flutter

#1996 Fix UI bug - '_dependents.isEmpty': is not true
  .changes/1996-_dependents.isEmpty-is-not-true.md
  app/lib/common/dialogs/deactivation_confirmation.dart
  app/lib/common/utils/constants.dart
  app/lib/common/widgets/room/brief_room_list_entry.dart
  app/lib/common/widgets/scrollable_list_tab_scroller.dart
  app/lib/common/widgets/spaces/select_space_form_field.dart
  app/lib/features/activities/pages/activities_page.dart
  app/lib/features/attachments/widgets/attachment_section.dart
  app/lib/features/chat/pages/room_page.dart
  app/lib/features/comments/widgets/create_comment.dart
  app/lib/features/events/pages/create_edit_event_page.dart
  app/lib/features/events/pages/event_details_page.dart
  app/lib/features/home/pages/home_shell.dart
  app/lib/features/news/model/keys.dart
  app/lib/features/news/pages/add_news_page.dart
  app/lib/features/news/widgets/news_item.dart
  app/lib/features/news/widgets/news_item_slide/video_slide.dart
  app/lib/features/news/widgets/news_post_editor/news_slide_options.dart
  app/lib/features/onboarding/pages/upload_avatar_page.dart
  app/lib/features/pins/pages/create_pin_page.dart
  app/lib/features/pins/pages/pin_page.dart
  app/lib/features/pins/widgets/pin_item.dart
  app/lib/features/pins/widgets/pin_list_item.dart
  app/lib/features/search/model/keys.dart
  app/lib/features/space/dialogs/leave_space.dart
  app/lib/features/space/pages/chats_page.dart
  app/lib/features/space/pages/space_details_page.dart
  app/lib/features/space/pages/sub_spaces_page.dart
  app/lib/features/space/settings/pages/apps_settings_page.dart
  app/lib/features/space/settings/widgets/space_settings_menu.dart
  app/lib/features/space/sheets/link_room_sheet.dart
  app/lib/features/space/widgets/related/spaces_helpers.dart
  app/lib/features/space/widgets/space_sections/spaces_section.dart
  app/lib/features/space/widgets/space_toolbar.dart
  app/lib/features/spaces/model/keys.dart
  app/lib/features/spaces/pages/create_space_page.dart
  app/lib/features/spaces/pages/spaces_page.dart
  app/lib/features/super_invites/dialogs/redeem_dialog.dart
  app/lib/features/super_invites/pages/create.dart
  app/lib/features/tasks/pages/task_item_detail_page.dart
  app/lib/features/tasks/pages/tasks_list_page.dart
  app/lib/features/tasks/widgets/due_picker.dart
  app/lib/features/tasks/widgets/task_item.dart
  app/lib/features/tasks/widgets/task_items_list_widget.dart
  app/lib/features/tasks/widgets/task_list_item_card.dart
Labels: bug, flutter

#2006 Invite Users, refresh space overview
  .changes/2006-invite-fixes.md
  .changes/2007-closing-rooms.md
  app/lib/common/widgets/scrollable_list_tab_scroller.dart
  app/lib/features/invite_members/pages/invite_individual_users.dart
  app/lib/features/invite_members/pages/invite_space_members.dart
  app/lib/features/space/pages/space_details_page.dart
  app/lib/l10n/app_en.arb
  app/lib/router/shell_routers/home_shell_router.dart
Labels: flutter, s-space

#2007 Closing rooms
  app/lib/common/actions/close_room.dart
  app/lib/common/widgets/room/room_profile_header.dart
  app/lib/features/chat/pages/room_profile_page.dart
  app/lib/features/invite_members/pages/invite_page.dart
  app/lib/features/space/widgets/space_toolbar.dart
  app/lib/l10n/app_en.arb
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
Labels: flutter

#2003 Boosting Chat performance
  .changes/2003-massive-chat-performace-boost.md
  Cargo.lock
  Cargo.toml
  app/lib/common/actions/redact_content.dart
  app/lib/common/actions/report_content.dart
  app/lib/common/providers/chat_providers.dart
  app/lib/common/providers/notifiers/chat_notifiers.dart
  app/lib/common/providers/notifiers/room_notifiers.dart
  app/lib/common/providers/room_providers.dart
  app/lib/common/widgets/chat/convo_card.dart
  app/lib/common/widgets/chat/convo_with_avatar_card.dart
  app/lib/common/widgets/chat/edit_room_description_sheet.dart
  app/lib/common/widgets/spaces/space_info.dart
  app/lib/features/chat/pages/room_page.dart
  app/lib/features/chat/pages/room_profile_page.dart
  app/lib/features/chat/providers/chat_providers.dart
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/widgets/bubble_builder.dart
  app/lib/features/chat/widgets/chats_list.dart
  app/lib/features/chat/widgets/convo_list.dart
  app/lib/features/chat/widgets/custom_input.dart
  app/lib/features/chat/widgets/file_message_builder.dart
  app/lib/features/chat/widgets/message_actions.dart
  app/lib/features/chat/widgets/message_metadata_builder.dart
  app/lib/features/chat/widgets/rooms_list.dart
  app/lib/features/chat/widgets/text_message_builder.dart
  app/lib/features/chat/widgets/video_message_builder.dart
  app/lib/features/public_room_search/widgets/maybe_direct_room_action_widget.dart
  app/lib/features/space/pages/chats_page.dart
  app/lib/features/space/widgets/related/chats_helpers.dart
  app/lib/features/super_invites/widgets/to_join_room.dart
  app/pubspec.lock
  app/pubspec.yaml
  native/acter/src/api/message.rs
  native/media-cache-wrapper/src/lib.rs
Labels: flutter, s-chat

#2011 Ensure we only render AnimatedList between render calls
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/widgets/chats_list.dart
Labels: bug, flutter, minor

#2017 Miscellaneous fixes
  app/packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  native/acter/api.rsh
  native/acter/src/api/verification.rs
  native/test/src/tests/verification.rs
Labels: rust, minor

#2012 Chat/Spaces section calculation fixes the XIth
  .github/workflows/unittest.yml
  app/lib/features/space/widgets/related/util.dart
  app/lib/features/space/widgets/space_sections/chats_section.dart
  app/lib/features/space/widgets/space_sections/spaces_section.dart
  app/test/features/spaces/space_section_calculator_tests.dart
Labels: bug, flutter, minor, s-space

#2018 Update from latest Weblate, activate french
  .changes/2018-french-activation.md
  app/lib/features/settings/model/language_model.dart
  app/lib/l10n/app_ar.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_es.arb
  app/lib/l10n/app_fr.arb
Labels: minor, translations
