Repository acterglobal/a3, pull requests merged in 2025-04, with the labels that each got.

#2773 Fixed default space selection issue in add update flow
  .changes/2773-add-update-space-selection.md
  app/lib/features/news/pages/add_news/add_news_post_to_page.dart
Labels: minor

#2776 chat-ng: open link fix
  app/lib/common/actions/open_link.dart
  app/lib/common/widgets/render_html.dart
  app/lib/features/activities/widgets/space_activities_section/space_activities_section_widget.dart
  app/lib/features/attachments/widgets/msg_content_attachment_item.dart
  app/lib/features/chat/utils.dart
  app/lib/features/chat_ng/widgets/events/text_message_event.dart
  app/lib/features/news/widgets/news_item_slide/news_slide_actions.dart
  app/lib/features/news/widgets/news_post_editor/selected_action_button.dart
  app/lib/features/pins/widgets/fake_link_attachment_item.dart
Labels: bug, s-chat, minor

#2777 Rename room message to timeline item
  app/lib/common/providers/chat_providers.dart
  app/lib/common/providers/notifiers/chat_notifiers.dart
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/widgets/convo_card.dart
  app/lib/features/chat_ng/actions/redact_message_action.dart
  app/lib/features/chat_ng/actions/report_message_action.dart
  app/lib/features/chat_ng/dialogs/message_actions.dart
  app/lib/features/chat_ng/models/chat_editor_state.dart
  app/lib/features/chat_ng/models/chat_room_state/chat_room_state.dart
  app/lib/features/chat_ng/models/chat_room_state/chat_room_state.freezed.dart
  app/lib/features/chat_ng/models/replied_to_msg_state.dart
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/providers/notifiers/chat_editor_notifier.dart
  app/lib/features/chat_ng/providers/notifiers/chat_room_messages_notifier.dart
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor.dart
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor_actions_preview.dart
  app/lib/features/chat_ng/widgets/events/chat_event.dart
  app/lib/features/chat_ng/widgets/events/chat_event_item.dart
  app/lib/features/chat_ng/widgets/events/member_update_event.dart
  app/lib/features/chat_ng/widgets/events/message_event_item.dart
  app/lib/features/chat_ng/widgets/events/replied_to_event.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/features/chat_ng/widgets/message_actions_widget.dart
  app/lib/features/chat_ng/widgets/reactions/reactions_list.dart
  app/test/features/chat_ng/chat_editor_test.dart
  app/test/features/chat_ng/diff_applier_test.dart
  app/test/features/chat_ng/messages/chat_message_test.dart
  app/test/features/chat_ng/reactions/reactions_test.dart
  app/test/features/chat_ng/widgets/chat_event_item_test.dart
  app/test/features/chat_ng/widgets/message_event_item_sending_state_test.dart
  app/test/helpers/mock_chat_providers.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/convo.rs
  native/acter/src/api/message.rs
  native/acter/src/api/push/client.rs
  native/acter/src/api/push/notification_item.rs
  native/acter/src/api/push/notification_settings.rs
  native/acter/src/api/push/pusher.rs
  native/acter/src/api/room.rs
  native/acter/src/api/stream.rs
  native/test/src/tests/blurhash.rs
  native/test/src/tests/formatted_body.rs
  native/test/src/tests/msg_edit.rs
  native/test/src/tests/reaction.rs
  native/test/src/tests/redact.rs
  native/test/src/tests/reply.rs
  native/test/src/tests/thumbnail.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2784 [smallfix] Refactor rust code
  native/acter/src/api/activities.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/common.rs
  native/acter/src/api/convo.rs
  native/acter/src/api/invitations/manager.rs
  native/acter/src/api/invitations/object_manager.rs
  native/acter/src/api/message.rs
  native/acter/src/api/profile.rs
  native/acter/src/api/room.rs
  native/acter/src/api/room/preview.rs
  native/acter/src/api/search.rs
  native/acter/src/api/settings/user.rs
  native/acter/src/api/tasks.rs
  native/acter/src/api/verification.rs
  native/core/src/activities.rs
  native/core/src/events/common/object_reference.rs
  native/core/src/spaces.rs
  native/file-event-cache/src/lib.rs
Labels: rust, minor

#2785 Weblate latest
  app/lib/features/activities/widgets/space_activities_section/item_widgets/type_widgets/taskDecline.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_en.arb
Labels: bug, translations

#2786 Enable "Default chat option" to ON
  app/lib/features/spaces/providers/space_creation_providers.dart
Labels: minor

#2789 [smallfix] Refactor rust code
  native/acter/src/api/activities.rs
  native/acter/src/api/attachments.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/comments.rs
  native/acter/src/api/common.rs
  native/acter/src/api/convo.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/push/notification_item.rs
  native/acter/src/api/room.rs
  native/acter/src/api/search.rs
  native/acter/src/api/stories.rs
  native/acter/src/api/tasks.rs
  native/acter/src/api/timeline/msg_content.rs
  native/core/src/activities/object.rs
  native/core/src/executor.rs
  native/core/src/models/common.rs
  native/core/src/models/pins.rs
  native/core/src/models/tasks/task.rs
Labels: rust, minor

#2805 Notification and Calendar sync setting enabled for desktop.
  .changes/2805-desktop-notification-calendar-fix.md
  app/lib/common/utils/device_permissions/calendar.dart
  app/lib/common/utils/device_permissions/notification.dart
Labels: minor

#2806 remove iOS 17 sdks from build process
  .github/workflows/build-app.yml
Labels: build, ci-build-ios, build-demo, minor

#2809 Test for ugprade flow, ensure app settings can be changed
  .changes/2770.md
  native/acter/src/api/room.rs
  native/acter/src/api/spaces.rs
  native/test/src/tests/spaces.rs
  native/test/src/tests/spaces/upgrades.rs
  native/test/src/tests/typing.rs
Labels: rust, minor, s-space

#2813 [Chat-NG] minor cleanup on typing indicator
  app/lib/common/widgets/typing_indicator.dart
  app/lib/features/chat_ng/widgets/chat_messages.dart
  app/test/common/widgets/typing_indicator_test.dart
Labels: flutter, minor

#2790 Extend timeline event item from MsgContent to several contents
  Cargo.lock
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/utils.dart
  app/lib/features/chat/widgets/convo_card.dart
  app/lib/features/chat/widgets/custom_message_builder.dart
  app/lib/features/chat/widgets/messages/membership_update.dart
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/utils.dart
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor.dart
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor_actions_preview.dart
  app/lib/features/chat_ng/widgets/chat_item/last_message_widget.dart
  app/lib/features/chat_ng/widgets/events/chat_event_item.dart
  app/lib/features/chat_ng/widgets/events/member_update_event.dart
  app/lib/features/chat_ng/widgets/events/message_event_item.dart
  app/lib/features/chat_ng/widgets/events/profile_update_event.dart
  app/lib/features/chat_ng/widgets/events/replied_to_event.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/features/chat_ng/widgets/message_actions_widget.dart
  app/lib/features/chat_ui_showcase/models/mocks/mock_convo.dart
  app/lib/l10n/app_en.arb
  app/test/features/chat_ng/chat_editor_test.dart
  app/test/features/chat_ng/messages/chat_message_test.dart
  app/test/features/chat_ng/widgets/chat_event_item_test.dart
  app/test/features/chat_ng/widgets/message_event_item_sending_state_test.dart
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/activities.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/mod.rs
  native/acter/src/api/timeline/msg_content.rs
  native/acter/src/api/timeline/room_event.rs
  native/acter/src/api/timeline/stream.rs
  native/core/Cargo.toml
  native/core/src/activities.rs
  native/core/src/models/status/membership.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/profile.rs
  native/core/src/util.rs
  native/test/src/tests/activities/status.rs
  native/test/src/tests/backup.rs
  native/test/src/tests/blurhash.rs
  native/test/src/tests/formatted_body.rs
  native/test/src/tests/msg_edit.rs
  native/test/src/tests/reaction.rs
  native/test/src/tests/redact.rs
  native/test/src/tests/reply.rs
  native/test/src/tests/thumbnail.rs
  native/test/src/tests/url_previews.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust

#2836 Add golden to fix #2826
  app/assets/fonts/Roboto-Regular.ttf
  app/lib/features/chat/widgets/chat_list_widget.dart
  app/lib/features/chat_ng/widgets/chat_item/unread_count_widget.dart
  app/lib/features/chat_ng/widgets/chat_item_widget.dart
  app/pubspec.yaml
  app/test/features/chat_ng/widgets/chat_item/goldens/unread_counter_visible_on_selection.png
  app/test/features/chat_ng/widgets/chat_item/selected_chat_item_test.dart
  app/test/helpers/font_loader.dart
Labels: s-chat

#2841 Update to latest translation from weblate
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
Labels: translations

#2842 Minor correction on permission status chcking
  app/lib/common/utils/device_permissions/calendar.dart
Labels: minor

#2845 Fix golden test
  .github/workflows/check-flutter-unittest.yml
  app/lib/common/utils/utils.dart
  app/lib/features/chat_ng/widgets/chat_item/last_message_time_widget.dart
  app/test/.gitignore
  app/test/features/chat_ng/widgets/chat_item/selected_chat_item_test.dart
Labels: flutter, build, minor

#2847 remove AsyncValue.guard where unnecessary
  app/lib/common/providers/notifiers/chat_notifiers.dart
  app/lib/common/providers/notifiers/room_notifiers.dart
  app/lib/common/providers/notifiers/space_notifiers.dart
  app/lib/features/activities/providers/notifiers/activities_notifiers.dart
  app/lib/features/attachments/providers/notifiers/attachments_notifiers.dart
  app/lib/features/bookmarks/providers/notifiers.dart
  app/lib/features/chat_ng/providers/notifiers/reply_messages_notifier.dart
  app/lib/features/comments/providers/comments_providers.dart
  app/lib/features/events/providers/notifiers/event_notifiers.dart
  app/lib/features/events/providers/notifiers/participants_notifier.dart
  app/lib/features/events/providers/notifiers/rsvp_notifier.dart
  app/lib/features/home/providers/task_providers.dart
  app/lib/features/pins/providers/notifiers/pins_notifiers.dart
  app/lib/features/read_receipts/providers/read_receipts.dart
  app/lib/features/settings/providers/notifications_mode_provider.dart
  app/lib/features/settings/providers/notifiers/devices_notifier.dart
  app/lib/features/tasks/providers/notifiers.dart
Labels: bug, flutter, minor

#2835 upgrade to latest rust sdk
  Cargo.lock
  Cargo.toml
  native/acter/api.rsh
  native/acter/src/api/account.rs
  native/acter/src/api/attachments.rs
  native/acter/src/api/auth.rs
  native/acter/src/api/client/sync.rs
  native/acter/src/api/common.rs
  native/acter/src/api/device.rs
  native/acter/src/api/invitations/manager.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/stream.rs
  native/core/src/store.rs
  native/file-event-cache/src/lib.rs
  native/file-event-cache/src/queued.rs
  native/test/src/tests/room/policy_rule_room.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, dependencies, build-demo, minor, merge post release only

#2851 Extend timeline event item to cover policy rule server
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/policy_rule_server.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: flutter, rust

#2857 Default notification mode is 'none'
  native/acter/src/api/room.rs
Labels: minor

#2858 Extend timeline event item to cover policy rule user
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/policy_rule_user.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2873 Extend timeline event item to cover room avatar
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_avatar.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2874 Extend timeline event item to cover room creation
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/chat_event_item.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_create.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2876 Extend timeline event item to cover room encryption
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_encryption.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2878 Extend timeline event item to cover the room history visibility
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_history_visibility.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2881 [smallfix] Miscellaneous fixes
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/test/src/tests/room/room_encryption.rs
  native/test/src/tests/room/room_guest_access.rs
Labels: minor

#2880 Updating rust bindings
  Cargo.lock
  Cargo.toml
  native/acter/src/api/push/notification_item.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/lib.rs
  native/core/src/activities.rs
  native/core/src/error.rs
  native/core/src/models.rs
  native/core/src/models/any.rs
  native/core/src/models/conversion.rs
  native/core/src/models/status/mod.rs
  native/test/src/tests/activities/space.rs
  native/test/src/tests/room/policy_rule_server.rs
  native/test/src/tests/room/policy_rule_user.rs
  native/test/src/tests/room/room_avatar.rs
  native/test/src/tests/room/room_create.rs
  native/test/src/tests/room/room_encryption.rs
  native/test/src/tests/room/room_guest_access.rs
  native/tui/src/ui.rs
  packages/rust_sdk/lib/acter_flutter_sdk.dart
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
  rust-toolchain
Labels: build, minor

#2883 Extend timeline event item to cover the room name
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_name.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2884 [smallfix] Miscellaneous fixes
  native/test/src/tests/room/room_encryption.rs
  native/test/src/tests/room/room_guest_access.rs
  native/test/src/tests/room/room_history_visibility.rs
  native/test/src/tests/room/room_join_rules.rs
  native/test/src/tests/room/room_name.rs
Labels: minor

#2885 Extend timeline event item to cover the room pinned events
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_pinned_events.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2886 Extend timeline event item to cover the room power levels
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_power_levels.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2887 Extend timeline event item to cover the room server acl
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_server_acl.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2889 Extend timeline event item to cover the room tombstone
  Cargo.lock
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/Cargo.toml
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_tombstone.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2849 [Chat NG]: message timestamp
  .changes/2849-chat-ng-msg-timestamp.md
  app/lib/features/chat_ng/widgets/chat_bubble.dart
  app/lib/features/chat_ng/widgets/events/file_message_event.dart
  app/lib/features/chat_ng/widgets/events/image_message_event.dart
  app/lib/features/chat_ng/widgets/events/message_event_item.dart
  app/lib/features/chat_ng/widgets/events/video_message_event.dart
  app/lib/features/chat_ng/widgets/message_timestamp_widget.dart
  app/test/features/chat_ng/widgets/chat_bubble_test.dart
  app/test/features/chat_ng/widgets/chat_event_item_test.dart
  app/test/features/chat_ng/widgets/message_event_item_sending_state_test.dart
  app/test/features/chat_ng/widgets/message_timestamp_test.dart
Labels: flutter, s-chat

#2890 Extend timeline event item to cover the room topic
  app/lib/features/chat_ng/providers/chat_room_messages_provider.dart
  app/lib/features/chat_ng/widgets/events/room_update_event.dart
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/room.rs
  native/acter/src/api/timeline/item.rs
  native/acter/src/api/timeline/room_event.rs
  native/core/src/activities.rs
  native/core/src/models/status/mod.rs
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/mod.rs
  native/test/src/tests/room/room_topic.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2903 Gather membership change, profile change, and room state change toget…
  app/lib/l10n/app_da.arb
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
Labels: minor

#2909 Reduced space activities count from 100 to 25.
  .changes/2909-reduce-activity-list-count.md
  app/lib/features/activities/providers/notifiers/activities_notifiers.dart
Labels: minor

#2910 [bugfix] Miscellaneous fixes
  native/acter/api.rsh
  native/core/src/models/status/room_state.rs
  native/test/src/tests/room/room_power_levels.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2904 Rename TimelineEventItem::message() to msg_content()
  app/lib/features/chat/providers/notifiers/chat_room_notifier.dart
  app/lib/features/chat/widgets/convo_card.dart
  app/lib/features/chat_ng/providers/chat_list_providers.dart
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor.dart
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor_actions_preview.dart
  app/lib/features/chat_ng/widgets/events/message_event_item.dart
  app/lib/features/chat_ng/widgets/events/replied_to_event.dart
  app/lib/features/chat_ng/widgets/message_actions_widget.dart
  app/lib/features/chat_ui_showcase/models/mocks/mock_convo.dart
  app/test/features/chat_ng/messages/chat_message_test.dart
  app/test/features/chat_ng/widgets/chat_editor/chat_editor_test.dart
  app/test/features/chat_ng/widgets/chat_event_item_test.dart
  app/test/features/chat_ng/widgets/message_event_item_sending_state_test.dart
  native/acter/api.rsh
  native/acter/src/api/timeline/item.rs
  native/test/src/tests/backup.rs
  native/test/src/tests/blurhash.rs
  native/test/src/tests/formatted_body.rs
  native/test/src/tests/msg_edit.rs
  native/test/src/tests/reaction.rs
  native/test/src/tests/redact.rs
  native/test/src/tests/reply.rs
  native/test/src/tests/room/room_pinned_events.rs
  native/test/src/tests/thumbnail.rs
  native/test/src/tests/url_previews.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2916 Activities forwarding
  .github/workflows/check-rust-integration-tests.yml
  app/lib/router/router.dart
  native/core/src/activities.rs
  native/core/src/activities/object.rs
  native/test/src/tests/activities/space.rs
  native/test/src/tests/room/room_server_acl.rs
  native/test/src/tests/room/room_tombstone.rs
  native/test/src/tests/room/space_child.rs
  native/test/src/tests/room/space_parent.rs
Labels: minor

#2920 Ensure the chat ng input min height is respected regardless of contentHeight
  app/lib/features/chat_ng/widgets/chat_editor/chat_editor.dart
Labels: flutter, s-chat, minor

#2921 Have a key on swipeTo ensure correct callbacks
  .changes/swipe-to-reply.md
  app/lib/features/chat_ng/widgets/events/message_event_item.dart
Labels: bug, flutter, s-chat, minor
