Repository acterglobal/a3, pull requests merged in 2025-02, with the labels that each got.

#2554 Fix several minor Notification parsing issues
  packages/acter_notifify/lib/matrix.dart
  packages/acter_notifify/test/message_format_test.dart
Labels: bug, minor, f-push-notifications

#2555 Implement EventDateChanged notification on rust-side
  Cargo.lock
  native/acter/api.rsh
  native/acter/src/api/push/notification_item.rs
  native/test/Cargo.toml
  native/test/src/tests/notifications/event.rs
  packages/acter_notifify/lib/processing/event.dart
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2552 Make alwaysClientProvider never fail
  .changes/2552-always-client.md
  app/lib/features/home/providers/client_providers.dart
  app/lib/features/home/providers/notifiers/always_client_notifier.dart
  app/test/common/providers/client_providers_test.dart
  app/test/features/calendar_sync/calendar_sync_test.dart
  app/test/features/chat/custom_input_test.dart
  app/test/helpers/mock_client_provider.dart
Labels: flutter, infrastructure, c-super-invites

#2569 Task based notifications rust
  native/acter/src/api/push/notification_item.rs
  native/test/src/tests/notifications/event.rs
  native/test/src/tests/notifications/tasks.rs
Labels: minor, f-push-notifications

#2568 Elimenate Ghost Models from the rust side
  native/acter/api.rsh
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/client/models.rs
  native/acter/src/api/news.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/stories.rs
  native/acter/src/api/tasks.rs
  native/cli/src/action/list.rs
  native/core/src/models.rs
  native/core/src/models/any.rs
  native/core/src/models/capabilities.rs
  native/core/src/models/conversion.rs
  native/core/src/models/execution.rs
  native/core/src/models/meta.rs
  native/core/src/models/redaction.rs
  native/test/src/tests/pins.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust

#2571 Notifications for Attachments & References
  native/acter/src/api/push/notification_item.rs
  native/test/src/tests/notifications/attachments.rs
  native/test/src/tests/notifications/event.rs
  native/test/src/tests/notifications/references.rs
Labels: rust, minor, f-push-notifications

#2578 [Chat-NG] reaction toggle fix
  app/lib/features/chat_ng/dialogs/message_actions.dart
Labels: bug, flutter, minor

#2575 Add guardrule to fix runtime error on android
  .changes/2547-fix-runtime-error.md
  app/android/app/proguard-rules.pro
Labels: t-android, ci-build-android, build-demo, minor

#2574 Expose new account data subscriptions and use them
  .changes/2574-fix-bookmarks.md
  app/lib/features/bookmarks/providers/notifiers.dart
  native/acter/api.rsh
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: bug, flutter

#2583 Disable verification sessions section on activities
  app/lib/features/activities/pages/activities_page.dart
Labels: flutter, minor

#2579 [Chat-NG] fix message actions alignment and UI fixes
  .changes/2579-reaction-selector-align.md
  app/lib/features/chat_ng/dialogs/message_actions.dart
  app/lib/features/chat_ng/widgets/events/message_event_item.dart
  app/lib/features/chat_ng/widgets/reactions/reaction_selector.dart
  app/lib/features/chat_ng/widgets/replied_to_preview.dart
Labels: smooth UX, t-desktop

#2586 Fix for double sync loops
  app/lib/common/providers/notifiers/sync_notifier.dart
Labels: flutter, minor

#2589 Fixes boost action dialog not closing issue in iOS
  app/lib/features/news/pages/add_news_page.dart
Labels: minor

#2580 Activites types
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/activities.rs
  native/acter/src/api/push/notification_item.rs
  native/core/src/activities.rs
  native/core/src/activities/status.rs
  native/core/src/client.rs
  native/core/src/events.rs
  native/core/src/lib.rs
  native/core/src/models.rs
  native/core/src/models/any.rs
  native/core/src/models/conversion.rs
  native/core/src/models/status.rs
  native/core/src/models/status/membership.rs
  native/test/src/tests.rs
  native/test/src/tests/activities/mod.rs
  native/test/src/tests/activities/status.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust

#2596 fix global keys used twice when switching bottom nav / side bar view
  app/lib/common/tutorial_dialogs/bottom_navigation_tutorials/bottom_navigation_tutorials.dart
  app/lib/features/home/providers/navigation.dart
  app/lib/features/home/widgets/sidebar_widget.dart
Labels: bug, flutter, t-desktop

#2593 Room and Object Activities
  Cargo.lock
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/activities.rs
  native/acter/src/api/common.rs
  native/acter/src/api/push.rs
  native/acter/src/api/push/notification_item.rs
  native/core/Cargo.toml
  native/core/src/activities.rs
  native/core/src/activities/object.rs
  native/core/src/models/calendar/event.rs
  native/core/src/models/pins.rs
  native/core/src/models/status.rs
  native/core/src/models/tasks/task.rs
  native/core/src/models/tasks/task_list.rs
  native/test/src/tests/activities/calendar.rs
  native/test/src/tests/activities/mod.rs
  native/test/src/tests/activities/status.rs
  native/test/src/tests/notifications/attachments.rs
  native/test/src/tests/notifications/comments.rs
  native/test/src/tests/notifications/event.rs
  native/test/src/tests/notifications/pins.rs
  native/test/src/tests/notifications/references.rs
  native/test/src/tests/notifications/tasks.rs
  packages/acter_notifify/lib/processing/utils.dart
  packages/acter_notifify/test/attachment_notification_test.dart
  packages/acter_notifify/test/comment_notification_test.dart
  packages/acter_notifify/test/description_change_notification_test.dart
  packages/acter_notifify/test/event_notification_test.dart
  packages/acter_notifify/test/mock_data/mock_activity_object.dart
  packages/acter_notifify/test/object_creation_notification_test.dart
  packages/acter_notifify/test/object_other_changes_notification_test.dart
  packages/acter_notifify/test/object_redaction_notification_test.dart
  packages/acter_notifify/test/reaction_notification_test.dart
  packages/acter_notifify/test/references_notification_test.dart
  packages/acter_notifify/test/task_item_notification_test.dart
  packages/acter_notifify/test/task_list_notification_test.dart
  packages/acter_notifify/test/title_change_notification_test.dart
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: f-push-notifications, s-activites

#2591 Generic info API for Activities (with tests)
  native/acter/api.rsh
  native/acter/src/api/activities.rs
  native/core/src/activities.rs
  native/test/src/tests/activities/status.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, s-activites

#2601 Upgrade Rust SDK (and dependencies)
  .github/workflows/deploy-demo.yml
  Cargo.lock
  Cargo.toml
  native/acter/Cargo.toml
  native/acter/api.rsh
  native/acter/src/api.rs
  native/acter/src/api/account/three_pid.rs
  native/acter/src/api/activities.rs
  native/acter/src/api/auth.rs
  native/acter/src/api/calendar_events.rs
  native/acter/src/api/client.rs
  native/acter/src/api/client/models.rs
  native/acter/src/api/client/sync.rs
  native/acter/src/api/common.rs
  native/acter/src/api/deep_linking.rs
  native/acter/src/api/message.rs
  native/acter/src/api/pins.rs
  native/acter/src/api/push/client.rs
  native/acter/src/api/push/notification_item.rs
  native/acter/src/api/push/notification_settings.rs
  native/acter/src/api/push/pusher.rs
  native/acter/src/api/room.rs
  native/acter/src/api/room/account_data.rs
  native/acter/src/api/room/preview.rs
  native/acter/src/api/spaces.rs
  native/acter/src/api/stream.rs
  native/acter/src/api/super_invites.rs
  native/acter/src/api/utils.rs
  native/acter/src/api/verification.rs
  native/cli/src/action/list.rs
  native/core/Cargo.toml
  native/core/src/super_invites.rs
  native/file-event-cache/Cargo.toml
  native/file-event-cache/src/lib.rs
  native/file-event-cache/src/queued.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, dependencies, build-demo

#2600 Fix #2590
  app/lib/features/chat_ng/actions/redact_message_action.dart
  app/lib/features/chat_ng/widgets/message_actions_widget.dart
Labels: bug, s-chat, minor

#2632 Add Permission Check for CanPostStories
  native/acter/api.rsh
  native/acter/src/api/room.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2633 Expose Activity API over dart
  native/acter/api.rsh
  native/acter/src/api/activities.rs
  native/acter/src/api/common.rs
  native/acter/src/api/push/notification_item.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: rust, minor

#2612 Enable system-wide object autosubscribe
  .changes/2612-autosubscribe.md
  app/lib/common/widgets/edit_html_description_sheet.dart
  app/lib/common/widgets/edit_title_sheet.dart
  app/lib/features/attachments/actions/handle_selected_attachments.dart
  app/lib/features/chat/pages/room_profile_page.dart
  app/lib/features/comments/actions/submit_comment.dart
  app/lib/features/comments/types.dart
  app/lib/features/comments/widgets/add_comment_widget.dart
  app/lib/features/comments/widgets/comments_section_widget.dart
  app/lib/features/events/pages/create_event_page.dart
  app/lib/features/events/pages/event_details_page.dart
  app/lib/features/events/utils/events_utils.dart
  app/lib/features/events/widgets/change_date_sheet.dart
  app/lib/features/labs/model/labs_features.dart
  app/lib/features/news/widgets/news_item/news_side_bar.dart
  app/lib/features/notifications/actions/autosubscribe.dart
  app/lib/features/notifications/pages/notifications_page.dart
  app/lib/features/notifications/providers/notifiers/notification_settings_notifier.dart
  app/lib/features/pins/actions/edit_pin_actions.dart
  app/lib/features/pins/actions/pin_update_actions.dart
  app/lib/features/pins/actions/set_pin_description.dart
  app/lib/features/pins/pages/create_pin_page.dart
  app/lib/features/pins/pages/pin_details_page.dart
  app/lib/features/pins/widgets/pin_attachment_options.dart
  app/lib/features/settings/pages/labs_page.dart
  app/lib/features/settings/providers/notifiers/app_settings_notifier.dart
  app/lib/features/space/actions/set_space_title.dart
  app/lib/features/tasks/actions/add_task.dart
  app/lib/features/tasks/actions/update_tasklist.dart
  app/lib/features/tasks/pages/task_item_detail_page.dart
  app/lib/features/tasks/pages/task_list_details_page.dart
  app/lib/features/tasks/sheets/create_update_task_list.dart
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/test/features/tasks/tasks_adding_test.dart
  native/acter/api.rsh
  native/acter/src/api/attachments.rs
  native/acter/src/api/comments.rs
  packages/rust_sdk/lib/acter_flutter_sdk_ffi.dart
Labels: f-push-notifications

#2635 Fix bug that app exit on system tray doesn't work in windows
  app/pubspec.lock
  app/pubspec.yaml
Labels: flutter, minor, t-windows

#2613 Fix long path issue of matrix sdk in windows
  Cargo.lock
  Cargo.toml
  native/file-event-cache/src/lib.rs
  native/file-event-cache/src/queued.rs
Labels: rust

#2650 Fix some errors when opening any chat room in windows platform
  packages/acter_notifify/lib/util.dart
Labels: flutter, t-desktop, t-windows

#2634 New default Link behavior setting
  .changes/2634.md
  .changes/default-link.md
  app/lib/common/actions/open_link.dart
  app/lib/common/utils/routes.dart
  app/lib/common/widgets/render_html.dart
  app/lib/features/attachments/widgets/msg_content_attachment_item.dart
  app/lib/features/chat/utils.dart
  app/lib/features/news/widgets/news_item_slide/news_slide_actions.dart
  app/lib/features/news/widgets/news_post_editor/selected_action_button.dart
  app/lib/features/pins/widgets/fake_link_attachment_item.dart
  app/lib/features/settings/pages/behavior_settings_page.dart
  app/lib/features/settings/providers/settings_providers.dart
  app/lib/features/settings/widgets/custom_settings_tile.dart
  app/lib/features/settings/widgets/settings_menu.dart
  app/lib/l10n/app_en.arb
  app/lib/router/shell_routers/home_shell_router.dart
Labels: flutter, smooth UX

#2651 Ensure always client and sync runs only onces
  .changes/2651.md
  app/lib/common/providers/notifiers/sync_notifier.dart
  app/lib/features/home/providers/notifiers/always_client_notifier.dart
  app/test/common/providers/client_providers_test.dart
  app/test/helpers/mock_client_provider.dart
Labels: bug, flutter

#2653 [fix] Chat-NG reactions
  app/lib/features/chat_ng/dialogs/message_actions.dart
Labels: bug, s-chat, minor

#2656 Clean up Settings Menu
  app/lib/common/providers/notifiers/client_pref_notifier.dart
  app/lib/common/utils/routes.dart
  app/lib/config/notifications/init.dart
  app/lib/features/calendar_sync/calendar_sync.dart
  app/lib/features/calendar_sync/providers/calendar_sync_active_provider.dart
  app/lib/features/labs/model/labs_features.dart
  app/lib/features/main/app_shell.dart
  app/lib/features/notifications/providers/notification_settings_providers.dart
  app/lib/features/notifications/widgets/labs_notifications_settings_tile.dart
  app/lib/features/settings/pages/behavior_settings_page.dart
  app/lib/features/settings/pages/calendar_settings_page.dart
  app/lib/features/settings/pages/chat_settings_page.dart
  app/lib/features/settings/pages/customizations_settings_page.dart
  app/lib/features/settings/pages/labs_page.dart
  app/lib/features/settings/widgets/auto_download_tile.dart
  app/lib/features/settings/widgets/settings_menu.dart
  app/lib/features/settings/widgets/typing_notice_tile.dart
  app/lib/features/space/settings/widgets/space_settings_menu.dart
  app/lib/router/shell_routers/home_shell_router.dart
Labels: flutter, s-calendar, minor, f-push-notifications
